<nav class="navbar is-primary" *ngIf="auth.authenticated">
  <div class="navbar-brand">
    <a class="navbar-item">
      <i>Φατσα Book</i>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="has-text-white" [routerLink]="['/login']" (click)="logout()">
              Αποσύνδεση
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>